.card {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  margin: 1rem;
  border: 1px solid #888;
  border-radius: 10px;
  padding: 1rem;
  width: 320px;
  text-align: left;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // &-body {}

  &-title {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &-description {
    margin-top: 0.5rem;
    white-space: pre-wrap;
  }

  &-title-collapse-btn {
    display: flex;
  }
}