.card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 0.75rem;
  max-width: 320px;
  text-align: left;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
  }

  // &-body {}

  &-title {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &-description {
    margin-top: 0.5rem;
    white-space: pre-wrap;
    font-size: 0.85rem;
  }

  &-title-collapse-btn {
    display: flex;
  }
}
.copy-btn {
  font-size: 0.7rem;
  padding: 0.2rem !important;
  border: 1px solid #333 !important;
  border-radius: 5px !important;
  &:active {
    color: pink !important;
  }
}